%ul.nav.nav-tabs
  %li.active= link_to "メイン", "#body", "data-toggle" => "tab"
  %li= link_to "左サイド", "#side_l", "data-toggle" => "tab"
  %li= link_to "右サイド", "#side_r", "data-toggle" => "tab"
  %li= link_to "クラウン", "#crown", "data-toggle" => "tab"
  %li= link_to "センター", "#center", "data-toggle" => "tab"
  %li= link_to "リボン", "#ribon", "data-toggle" => "tab"

.tab-content
  .tab-pane.active#body
    = render "material_parts", list: Mon::body_list, part: "body"
  .tab-pane#side_l
    = render "material_parts", list: Mon::side_l_list, part: "side_l"
  .tab-pane#side_r
    = render "material_parts", list: Mon::side_r_list, part: "side_r"
  .tab-pane#crown
    = render "material_parts", list: Mon::crown_list, part: "crown"
  .tab-pane#center
    = render "material_parts", list: Mon::center_list, part: "center"
  .tab-pane#ribon
    = render "material_parts", list: Mon::ribon_list, part: "ribon"
